/* Navbar main */
.custom-navbar {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08); /* 🔥 smooth shadow */
  padding: 10px 0;
  transition: all 0.3s ease;
}

/* Brand */
.brand-logo {
  font-weight: 600;
  font-size: 20px;
  color: #2c3e50 !important;
}

/* Links */
.nav-links .nav-link {
  color: #000 !important;
  font-weight: 600;
  margin-left: 15px;
  font-size: 12px;
  transition: 0.3s;
}

/* Hover effect */
.nav-links .nav-link:hover {
  color: #007bff !important;
}

/* Register button style */
.register-btn {
  background: #007bff;
  color: #fff !important;
   padding: 8px 0px 0px 0px;
  border-radius: 6px;
  margin-left: 15px;
}

.register-btn:hover {
  background: #0056b3;
  color: #fff !important;
}

/* Mobile view */
@media (max-width: 991px) {

  .nav-links {
    text-align: center;
    margin-top: 10px;
  }

  .nav-links .nav-link {
    margin: 10px 0;
    display: block;
  }

  .register-btn {
    display: inline-block;
    margin-top: 10px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .nav-links .nav-link {
    font-size: 14px;
  }
}